In [ ]:
#Data source:
#https://www.cde.ca.gov/ds/fd/ec/currentexpense.asp

#Data is in school year format, so 2013-2014 is being used for 2014 for our purposes

#Content Notes
# ADA is Average Daily Attendance

# Total ADA is defined as the total days of student attendance divided by 
# the total days of instruction.

# By district, the adjusted expenditures are divided by the total ADA to arrive at the 
# Current Expense (or Cost) of Education per ADA.

# So, you can consider avg_daily_attendance_expense a proxy for average yearly cost per 
# student.
# For example if you had 200 days of instruction and 1000 days of student attendance,
# than you would calculate Total ADA (yearly_daily_attendance_count) as 1000/200 or 5.
# If your total_yearly_expense is $50,000, then your avg_daily_attendance_expense is 
# $50,000/5 or $10,000

In [ ]:
import pandas as pd

In [ ]:
#Load in all files
curr_exp_2019 = pd.read_excel('/work/assets/currentexpense1819.xlsx',skiprows=10,sheet_name='County Averages',
header = None,
names=['county_name','total_yearly_expense','yearly_daily_attendance_count','avg_daily_attendance_expense'])

curr_exp_2018 = pd.read_excel('/work/assets/currentexpense1718.xlsx',skiprows=9,sheet_name='County Averages').rename(columns={'County':'county_name','EDP 365':'total_yearly_expense','Current Expense ADA':'yearly_daily_attendance_count','Current Expense Per ADA':'avg_daily_attendance_expense'})
curr_exp_2017 = pd.read_excel('/work/assets/currentexpense1617.xlsx',skiprows=7,sheet_name='County Averages').rename(columns={'County':'county_name','EDP 365':'total_yearly_expense','Current Expense ADA':'yearly_daily_attendance_count','Current Expense Per ADA':'avg_daily_attendance_expense'})
curr_exp_2016 = pd.read_excel('/work/assets/currentexpense1516.xls',skiprows=7,skipfooter=1,sheet_name='County Averages').rename(columns={'County':'county_name','EDP 365':'total_yearly_expense','Current Expense ADA':'yearly_daily_attendance_count','Current Expense Per ADA':'avg_daily_attendance_expense'})
curr_exp_2015 = pd.read_excel('/work/assets/currentexpense1415.xls',skiprows=4,skipfooter=1,sheet_name='County Averages').rename(columns={'County':'county_name','EDP 365':'total_yearly_expense','Current Expense ADA':'yearly_daily_attendance_count','Current Expense Per ADA':'avg_daily_attendance_expense'})
curr_exp_2014 = pd.read_excel('/work/assets/currentexpense1314.xls',skiprows=6,skipfooter=1,sheet_name='County Averages').rename(columns={'County':'county_name','Expenditures (EDP 365)':'total_yearly_expense','Current Expense ADA':'yearly_daily_attendance_count','Current Expense Per ADA':'avg_daily_attendance_expense'})

In [ ]:
#prep files for merge to one dataset
curr_exp_2019['year']=2019
curr_exp_2018['year']=2018
curr_exp_2017['year']=2017
curr_exp_2016['year']=2016
curr_exp_2015['year']=2015
curr_exp_2014['year']=2014

#Fix spelling of Humboldt county in 2017
curr_exp_2017['county_name'].replace({'Humbolt':'Humboldt'},inplace=True)

curr_exp_2017[curr_exp_2017['county_name'].isin(['Humboldt'])]

,county_name,total_yearly_expense,yearly_daily_attendance_count,avg_daily_attendance_expense,year
11,Humboldt,1.722248e+08,14508.94,11870.250734,2017

In [ ]:
#Concatenate all years into 1 df
all_vals = pd.concat([curr_exp_2019, curr_exp_2018,curr_exp_2017,curr_exp_2016,curr_exp_2015,curr_exp_2014])


#We only need the per student amount per county
all_vals = all_vals.drop(columns={'total_yearly_expense','yearly_daily_attendance_count'})

print(all_vals['year'].value_counts(0))
print(all_vals['county_name'].nunique())

2014    58
2015    58
2016    58
2017    58
2018    58
2019    58
Name: year, dtype: int64
58

In [ ]:
all_vals.head()

  county_name  avg_daily_attendance_expense  year
0     Alameda                  13194.895788  2019
1      Alpine                  43008.999060  2019
2      Amador                   9560.139141  2019
3       Butte                  12468.193786  2019
4   Calaveras                  13095.530582  2019

In [ ]:
#Should be 58 counties * number of years returned, so right now, 6, = 348
len(all_vals)

348

In [ ]:
#Write data out to be used with other county variables
all_vals.to_csv('/work/cleaned-csvs/ca_school_expenditure.csv',index=False)

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=f6c76417-5fde-42f3-8920-755838dec3fa' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>